<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
    <title>Products Electron</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center mt-3">Productos Agregados Recientemente</h2>
        <div class="row" id="products"></div>
    </div>

    <script src="../js/main.js"></script>
</body>
</html>